<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
  <div id="app">
    <h1>Vue todo app</h1>
    <div>
      <task-form :task="newTask" :onsubmit="newTask_submit"></task-form>
    </div>
    <hr />
    <div class="taskListOperator">
      <button v-on:click="dalete_click" class=btn btn-default>Delete finished tasks</button>
    </div>
    <div class="list-group">
      <task-item v-for="task in tasks" :task="task"></task-item>
      <p v-show="tasks.length < 1" class="text-muted">No tasks</p>
    </div>
  </div>

		<script id="template-task-form" type="text/x-template">
			<form v-on:submit.prevent="form_submit">
				<div class="input-group">
					<input v-model="task.name" class="form-control" type="text" placeholder="Buy milk 2L">
					<span class="input-group-btn">
						<button class="btn btn-primary">Add new task</button>
					</span>
				</div>
			</form>
		</script>

		<script id="template-task-item" type="text/x-template">
			<label class="list-group-item">
				<span v-on:click.prevent="edit_click" class="pull-right btn btn-link">Edit</span>
				<input v-model="task.finished" type="checkbox">
				{{task.name}}
			</label>
		</script>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="app.js"></script>

  </script>


</body>
</html>
